body {
    color: #33ff00; /* green */
    background: black;
    font-family: "Menlo", "Monaco", "Lucida Console", "Courier New", "Courier", "monospace";
    font-size: medium;
}

#wrap {
	width:780px;
	margin:0 auto;
}

#articles {
	float:left;
	width:420px;
    margin-top: 8ex;
}

#right_side {
	margin-top: 8ex;
	float:right;
	width:300px;
}

#title {
    color: white;
    text-align: left;
    font-size: x-large;
}

#calendar {
    text-align: center;
    margin-top: 1ex;
}

#subtitle {
    text-align: left;
    font-size: large;
}

#right_title {
	float:right;
	width:300px;
	text-align: right;
}

#left_title {
	float:left;
	width:420px;
}

#error {
    text-align: left;
    font-size: x-large;
    height: 400px;
}


.article {
    border-color: #33ff00; /* green */
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    padding-bottom: 4ex;
}

.heading {
	text-align: left;
	padding: 1ex 1ex 1ex 0ex;
}

.indent {
    margin-left: 10ex;
}

.article-title {
    color: white;
    text-transform: lowercase;
}

.article-byline {
    color: #009900;
    font-size: small;
}

.footer {
    text-align: right;
    font-size: small;
    clear:both;
}

.clear {
    clear:both;
}

a:link, a:visited {
    color: #33ff00;
    text-decoration: underline;
}

a:hover {
    color: black;
    background: #33ff00;
}
